<div id="app">
  {{ message }}

  <h2><%= current_user.name %>'s saved searches</h2>
  <transition-group name="bounceIn">
    <div v-for="ringer in ringers" v-bind:key="ringer.id">
      <h3>{{ ringer.character }} | {{ ringer.location }}</h3>
    </div>
  </transition-group>
  <% @saved_schools.each do |school| %>
    <p><%= school["long_name"] %></p>
  <% end %>
</div>