<div id="mapSavedSearch"></div>
  <div class="well">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwX5lbHn1JS_1JHy1DB5Nmt9GMUPSMB18" async defer></script>
  </div>

<div id="app">
  <div class="col-md-6">
    <div class="well">
    <h3><%= current_user.name %>'s saved searches</h3>
      <div v-for="datum in data" v-if="isValidSchool(datum)">
        <h3>{{ datum.long_name }} | {{ datum.address }}</h3>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
      <% @saved_schools.each do |school| %>
        <p><%= school["long_name"] %></p>
      <% end %>
    </div>
  </div>
</div>