<div id="map"></div>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwX5lbHn1JS_1JHy1DB5Nmt9GMUPSMB18"
 async defer></script>


<div id="app">
  <h2><%= current_user.name %>'s saved searches</h2>
  <transition-group name="bounceIn">
    <div v-for="datum in data" v-bind:key="datum.id">
      <h3>{{ datum
.character }} | {{ datum
.location }}</h3>
    </div>
  </transition-group>

  <% @saved_schools.each do |school| %>
    <p><%= school["long_name"] %></p>
  <% end %>
</div>