<div class="container">
  <h2><%= @school.name %></h2>
  
  <h3>Neighborhood: <%= @school.real_estate_datum.neighborhood %></h3>
  <h5>Tier: <%= @school.tier_rank %></h5>
  <h5>Type: <%= @school.level %></h5>
  
  <a type="button" class="btn btn-default" href="/">Back to main page</a>
</div>