// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mapSavedSearch {
  height: 500px;
}

#mapIndex {
  height: 600px;
}

#mapShow {
  height: 400px;
}

.container {

}

.no-gutters {
  margin-right: 5;
  margin-left: 5;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

body {

}

.well {
  width: 100%;
  margin: 0;
}